<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="mainService"
            class="com.zl.codeGenerator.service.impl.MainServiceImpl">
                <property name="configuration" ref="freemarkerConfiguration"/>
                <property name="groovyFactory" ref="groovyFactory"/>
                <property name="templatePath" value="/templates"/>
                <property name="moduleDir" value="./"/>
                <property name="templates" ref="templates"/>
                <property name="excelPath" value="./CodeGenerator.xls"/>
        </bean>

        <bean id="freemarkerConfiguration" class="freemarker.template.Configuration"/>

        <bean id="groovyFactory" class="com.zl.codeGenerator.dynamic.GroovyFactory"/>

        <bean id="templates" class="java.util.ArrayList">
            <constructor-arg>
                <list>
                    <value type="java.lang.String">classRoot/entity/ClassName$java.ftl</value>
                    <value type="java.lang.String">classRoot/service/ClassNameService$java.ftl</value>
                    <value type="java.lang.String">classRoot/service/impl/ClassNameServiceImpl$java.ftl</value>
                    <value type="java.lang.String">classRoot/dao/ClassNameDAO$java.ftl</value>
                    <value type="java.lang.String">classRoot/dao/impl/ClassNameDAOImpl$java.ftl</value>
                    <value type="java.lang.String">resources/ibatisXml/ClassName$xml.ftl</value>
                </list>
            </constructor-arg>
        </bean>
</beans>